.grid-container {
    display: grid;
    grid-template-areas: 
    "nav header"
    "nav main"
    "nav main";
}

.nav {
    grid-area: nav;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}