body {
    font-family:'Roboto', Times, serif;
}

.container {
    display: grid;
    grid-template-areas: 
    "nav header header"
    "nav main main"
    "nav main main";
}

.nav-container {
    background-color: lightskyblue;
}

.nav-container h1{
    color: white;
}

.nav {
    grid-area: nav;
}

.header {
    grid-area: header;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: main;
    background-color: lightgrey;
}

.project-items-container, .announcement-items-container, .trending-items-container {
    background-color: white;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}